.jumbotron {
  padding-top: 6rem;
  background-color: #808080;
}

#projects {
  background-color: #808080;
}

section {
  padding-top: 5rem;
}

/* my keyboard section */
.laptop-box {
  position: relative;
  background-color: #0d6efd;
  border-radius: 10px;
  height: 500px;
  transform-style: preserve-3d;
}

.laptop-box::before {
  content: 'Codingan';
  position: absolute;
  color: #fff;
  font-size: 3em;
  font-weight: bold;
  font-style: italic;
  top: 30px;
  left: 50%;
  transform: translate(-50%, 0);
  opacity: 0;
  transition: 0.5s;
}

.laptop-box:hover::before {
  left: 50%;
  transform: translate(-50%, 0);
  opacity: 0.2;
}

.laptop-box::after {
  content: 'Surya';
  position: absolute;
  color: #fff;
  font-size: 4em;
  font-weight: bold;
  font-style: italic;
  top: 350px;
  left: 50%;
  transform: translate(-50%, 0);
  opacity: 0;
  transition: 0.5s;
}

.laptop-box:hover::after {
  left: 50%;
  transform: translate(-50%, 0);
  opacity: 0.2;
}

.my-laptop {
  position: absolute;
  top: 0;
  width: 100%;
  color: #fff;
  text-align: center;
  font-size: 2em;
  opacity: 0;
  transform: translate3d(0, 0, 50px);
  transition: 0.5s;
}

.laptop-box:hover .my-laptop {
  top: 20px;
  opacity: 1;
}

.laptop-detail-button {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate3d(-50%, 0, 100px);
  opacity: 0;
  transition: 0.5s;
}

.laptop-box:hover .laptop-detail-button {
  opacity: 1;
  bottom: 20px;
}

.laptop-img {
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate3d(-50%, -52%, 100px);
  max-width: 350px;
  transition: 0.5s;
}

.laptop-box:hover .laptop-img {
  transform: translate3d(-50%, -52%, 100px) rotate(5deg) scale(1.2);
}
